<!DOCTYPE html>
<html>

<head>
  <title>Gallery</title>
  <link rel="stylesheet" type="text/css" href="../css/gallery.css">
</head>

<body>
  <header class="header">
    <img src="../resources/images/logo.jpg" alt="Logo" class="logo">
    <a href="#" class="name home-link">Chocolate Café</a>
    <nav class="nav-items">
      <a href="../index.html">Home</a>
      <a href="../views/about.html">About</a>
      <a href="../views/contact.html">Contact</a>
      <a href="#">Gallery</a>
    </nav>
  </header>
  <div>
    <ul class="gallery" role="list">
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/blackforrest.jpg" />
          <figcaption>Black Forest</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/cupcake.jpg" />
          <figcaption>Cup Cake</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/barista.jpg" />
          <figcaption>Barista</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/2023-05-25 (1).jpg" />
          <figcaption>Bill Folder</figcaption>
        </figure>
      </li>
    </ul>
    <ul class="gallery" role="list">
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/blackforrest.jpg" />
          <figcaption>Black Forest</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/cupcake.jpg" />
          <figcaption>Cup Cake</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/barista.jpg" />
          <figcaption>Barista</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/2023-05-25 (1).jpg" />
          <figcaption>Bill Folder</figcaption>
        </figure>
      </li>
    </ul>
    <ul class="gallery" role="list">
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/blackforrest.jpg" />
          <figcaption>Black Forest</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/cupcake.jpg" />
          <figcaption>Cup Cake</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/barista.jpg" />
          <figcaption>Barista</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/2023-05-25 (1).jpg" />
          <figcaption>Bill Folder</figcaption>
        </figure>
      </li>
    </ul>
    <ul class="gallery" role="list">
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/blackforrest.jpg" />
          <figcaption>Black Forest</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/cupcake.jpg" />
          <figcaption>Cup Cake</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/barista.jpg" />
          <figcaption>Barista</figcaption>
        </figure>
      </li>
      <li>
        <figure tabindex="0">
          <img alt="" src="../resources/images/2023-05-25 (1).jpg" />
          <figcaption>Bill Folder</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</body>
<footer class="footer">
  <p>&copy; 2023 Chocolate Café. All rights reserved.</p>
</footer>
</html>